.links {
  aspect-ratio: 3/1;
  margin: auto;
  width: 20%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.links svg:hover {
  transform: scale(1.1);
}
.insta svg {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  fill: aliceblue;
  border-radius: 30%;
}

.github svg {
  background: rgb(0, 0, 0);
  fill: white;
  border-radius: 50%;
}

.linkedin svg {
  background: white;
  border-radius: 6%;
  fill: #0a66c2;
  width: 100%;
  height: 74%;
}
