.profile-links svg {
  aspect-ratio: 1/1;
  width: 50px;
  font-size: 10rem;
}

.profile-links svg:hover {
  transform: scale(1.02);
}
.instagram svg {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  fill: aliceblue;
  border-radius: 30%;
}
