* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Kdam+Thmor+Pro&display=swap");

:root {
  --primary-background: #0b0b1d;
  --secondary-background: #13132b;
  --text-color: aliceblue;
  --text-highlighted-color: #fd5949;
  --text-hover-color: #abbac8;
  --primary-text-font: "Baloo Bhai 2", cursive;
  --secondary-text-font: "Kdam Thmor Pro", sans-serif;
}
